[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/SDL_gpu"]
	path = vendored/SDL_gpu
	url = https://github.com/grimfang4/sdl-gpu
[submodule "vendored/SDL2"]
	path = vendored/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.32.x
[submodule "vendored/bgfx"]
	path = vendored/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
